body {
    background-image: url(/static/image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h5 {
    color: white;
    text-align: center;
    font-family: "DejaVu Sans";
    font-size: 30px;
}

.game-field {
    margin-left: auto;
    margin-right: auto;
}

.instruction {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    height: 500px;
    width: 300px;
    word-break: break-word;
    float: left;
    text-align: left;
}

.inventory {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    word-break: break-word;
    float: right;
}

.cell {
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}

.cell-player {
    background-image: url(/static/image/harrypotter.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}

.fire {
    background-image: url(/static/image/fire.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}
.water {
    background-image: url(/static/image/water.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}

.bomb {
    background-image: url(/static/image/bomb.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}
.door {
    background-image: url(/static/image/lock.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}
.key {
    background-image: url(/static/image/key.jpg);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}
.goblet {
    background-image: url(/static/image/goblet-field.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}
.enemy {
    background-image: url(/static/image/dementor.png);
    background-color: white;
    background-size: contain;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}

.cell-wall {
    background-color: black;
    background-size: contain;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 50px;
}

#key {
    height: 45px;
    width: 45px;
}

#door {
    height: 45px;
    width: 45px;
}

#fire {
    height: 45px;
    width: 45px;
}

#water {
    height: 45px;
    width: 45px;
}

#bomb {
    height: 45px;
    width: 45px;
}

#goblet {
    height: 45px;
    width: 45px;
}

#enemy {
    height: 45px;
    width: 45px;
}
