<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOJS</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<h5>Harry Potter and the Goblet of JavaScript</h5>
<table class="instruction">
    <thead>
    <th>Instruction</th>
    </thead>
    <tbody>
    <td>
        <p>You have to get the Goblet in order to win.</p>
        <p>You are the deathly hallows symbol.</p>
        <p>You can use the key symbol to open the door.</p>
        <p>You can use the water symbol to get through the fire symbol.</p>
        <p>You can use the bomb symbol to destroy 4 walls next to you.</p>
        <p>You can destroy the dementor by pressing 'x' when it is under you.</p>
        <p>If the dementor is next to you, and it reaches you, you die and you have to start over if you want.</p>
    </td>
    </tbody>
</table>
<table class="inventory">
    <thead>
    <th>Inventory</th>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>Something</p>
        </td>
    </tr>
    </tbody>
</table>
<table class="game-field"></table>
</body>
